
Project1/.vs/Project1/v15/.suo
Project1/.vs/Project1/v15/Browse.VC.db
Project1/.vs/Project1/v15/Browse.VC.opendb
Project1/.vs/Project1/v15/ipch/AutoPCH/84ff8d11f238be9/SOURCE.ipch
Project1/Project1.sln
Project1/Debug/Project1.pdb
Project1/Debug/Project1.exe
Project1/Debug/Project1.ilk
Project1/Project1/Debug/Project1.log
Project1/Project1/Debug/Project1.tlog/CL.command.1.tlog
Project1/Project1/Debug/Project1.tlog/CL.read.1.tlog
Project1/Project1/Debug/Project1.tlog/CL.write.1.tlog
Project1/Project1/Debug/Project1.tlog/link.command.1.tlog
Project1/Project1/Debug/Project1.tlog/link.read.1.tlog
Project1/Project1/Debug/Project1.tlog/link.write.1.tlog
Project1/Project1/Debug/Project1.tlog/Project1.lastbuildstate
Project1/Project1/Debug/Source.obj
Project1/Project1/Debug/vc141.idb
Project1/Project1/Debug/vc141.pdb
Project1/Project1/Project1.vcxproj
Project1/Project1/Project1.vcxproj.filters
Project1/Project1/Project1.vcxproj.user
*.exe
*.ilk
*.pdb
*.tlog
*.obj
